/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Oxygen', sans-serif;
	min-width: 900px;
}

heder, footer {
	color: #b56a71;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: #fff;
	z-index: 99;
}

aside#sidebar {
	position: fixed;
	top: 80px;
	bottom: 0;
	width: 200px;
	z-index:99;
}

aside#toolbar {
	position: fixed;
	top: 40px;
	left: 200px;
	right: 0;
	height: 40px;
	min-width: 900px;
	background-color:#FFF;
	z-index:99;
}

section#main {
	position: absolute;
	top: 80px;
	right: 0;
	left: 200px;
	z-index:1;
}

section.dim {
	background-color: #fff;
	opacity: 0.3;
	z-index: 10;
}

/* Filters */
.filter{
	position:relative;
	height:100%;
	overflow:auto;
}
.filter li {
	text-align: left;
	color: #666;
	height: 30px;
	position: relative;
	padding: 5px 10px;
	font-size: 16px;
}
.filter li.isFilter {
	font-weight: 700;
}

/* Sidebar */
#sidebar .filter ul li {
	background-image: url("../images/filter/checkbox_unselected.png");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 6px 6px;
}

#sidebar .filter li a {
	position: relative;
	left: 18px;
	bottom: 6px;
}

#sidebar .filter ul li.isFilter {
	background-image: url("../images/filter/checkbox_selected.png")
		!important;
}

/* Toolbar */
#toolbar ul li {
	display: inline-block;
}

#toolbar .filter {
	float: left;
	width: 720px;
}

#toolbar .filter li a {
	
}


#toolbar #search_bar{
	float: right;
	padding-right:20px;
	min-width:50px;
	width:100%;
	max-width:230px;
}
#toolbar #search{
	padding:5px;
	width:90%;
	
}
/* END GOOD CODE */
/* Slider */
aside#slider {
	z-index: 11;
	display: none;
	position: fixed;
	right: 0;
	top: 80px;
	width: 350px;
	border: 1px solid #E0E0E0;
	text-align: center;
	background: #FFF !important;
}

aside#slider #slidercontent {
	margin: auto;
}

footer {
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	height: 38px;
}
/* Header */
header .logo {
	display: inline-block;
	font-size: 2em;
	padding: 0 20px;
	min-width: 160px;
}

header a {
	color: #444;
}
/* Main */
/* Nav */
nav {
	position: relative;
}

nav ul {
	min-width: 200px;
}

nav ul li {
	display: inline-block;
}

nav ul li {
	padding: 3px 8px;
}

nav#nav_user {
	text-align: right;
	padding-right: 20px;
	min-width: 180px;
}

nav#nav_user ul li a:hover {
	text-decoration: underline;
}

section#course_list {
	padding:5px;
}

/* Aside */
aside.filter {
	
}
/* Section */
section#register, section#login {
	text-align: center;
}

section#browse>div {
	display: inline-block;
}

/* Columns */
.columns {
	min-width: 900px;
}

.leftcolumn, .middlecolumn, .rightcolumn {
	float: left;
	width: 33.3%;
	min-width: 300px;
}

.majoritycolumn {
	width: 75%;
	float: right;
}

div#main div#course_list {
	position: relative;
	top: 40px;
	width: 100%;
}

#my_courses {
	text-align: left;
}

#my_courses li {
	padding: 5px 12px;
}

.ratings {
	font-size: 12px;
}

.ratings a {
	padding: 0 3px;
	color: #CCC;
}

.ratings a.isRating {
	color: #f7ac16;
	font-weight: 700;
}
/* Tables */
table#courses {
	margin: 0 2%;
}

table#courses tr {
	height: 160px;
}

table#courses tr td {
	vertical-align: top;
}

table a, #my_courses a {
	color: #0066c0;
}

table a:hover, #my_courses a:hover {
	color: #f7ac16;
}

table td.course_image {
	height: 120px;
	width: 200px;
}

table td.course_image img {
	display: inline-block;
	width: 100%;
	height: 100%;
}

table td.course_description {
	padding: 0 2% 2% 2%;
}

table td .course_short_desc {
	padding: 2% 0;
}

table .course_professors {
	min-width: 180px;
}

.by {
	color: #555;
	font-size: 60%;
}

table td p {
	font-size: 80%;
}

.course_title {
	font-size: 100%;
}

table td .course_short_desc {
	font-size: 80%;
}

table td .course_price {
	color: #b12704;
}

table td .course_rating, table td .course_university, table td .professors
	{
	color: #666;
	font-size: 12px;
}

table td .course_rating .rating {
	font-weight: 700;
	font-size: 110%;
}

table td .course_rating .rating_out_of {
	color: #999;
}

table td .course_rating .course_count {
	font-size: 70%;
}

.course_added {
	font-size: 14px;
	font-style: italic;
}

img.thumbnail_small {
	width: 18px;
	height: 18px;
	padding: 0 2px;
}
/* Anchors */
a {
	color: inherit;
	text-decoration: none;
}
/* Headers */
h1, .title {
	color: #f7ac16;
}
/* Button */
.button {
	display: inline-block;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	font-family: Arial, sans-serif;
	border-radius: 2px;
}

header .button {
	padding: 4px 6px;
	font-size: 13px;
	line-height: 29px;
	min-width: 80px;
}

main .button {
	padding: 2px 3px;
	font-size: 12px;
	min-width: 80px;
}

.button-primary {
	background-color: #f7ac16;
	color: #000;
}

.button-secondary {
	background-color: #216e94;
	color: #fff;
}

.button-alternate {
	background-color: #d8dde6;
	color: #111;
}
/* Forms */
form {
	margin: 0 auto;
	width: 95%;
	text-align: left;
}

form .button {
	margin: 3px 12px;
}

form .divider {
	text-align: center;
	position: relative;
	top: 2px;
	padding-top: 1px;
	margin: 15px 0;
	line-height: 0;
}

form .divider h5 {
	line-height: 1;
	font-size: 12px;
	color: #888;
	z-index: 2;
	position: relative;
	display: inline-block;
	background-color: #FFF;
	padding: 0 7px;
}

form .divider:after {
	content: "";
	width: 100%;
	background-color: transparent;
	display: block;
	height: 1px;
	border-top: 1px solid #e7e7e7;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	z-index: 1;
}

form input[type=text], form input[type=email], form input[type=password],
	form input[type=number] {
	height: 30px;
}

form.register input {
	display: block;
	width: 98%;
	margin: 1px auto 6px auto;
}

form label {
	display: block;
	margin: 3px 0;
}

form.login input {
	display: block;
	width: 98%;
	margin: 1px auto 12px auto;
}

form .button {
	width: 98%;
	margin: 0 auto;
}

form input#search_button {
	width: 25%;
	margin: 0 2px;
	border: none;
	height: 30px;
	cursor: pointer;
}

form .invalid {
	border: 2px solid #802f31;
}

form .valid {
	border: 2px solid #a7fa5a;
}

form .error {
	list-style: none;
	font-size: 12px;
	color: #802f31;
}

form #formerrors {
	margin: 10px 2px;
}
/* Unordered List */
ul {
	list-style: none;
}

.vertical-divider {
	width: 6px;
	height: 90%;
	display: inline-block;
	z-index: -1;
}

nav.filter {
	position: fixed;
	left: 180px;
	right: 0;
	min-width: 800px;
	background-color: #FFF;
	max-height: 40px;
	padding: 5px 0;
	z-index: 99;
}

nav.filter ul {
	display: inline-block;
	min-width: 800px;
	width: 80%;
}

nav.filter #search {
	min-width: 200px;
	width: 20%;
	height: 30px;
	vertical-align: middle;
	height: 30px;
}

}
.filter ul {
	font-size: 12px;
	color: #333;
}



.filter ul li a:hover {
	color: #f7ac16;
}

/* Results */
.select li span:before {
	content: url('../images/filter/checkbox_unselected.png');
	position: relative;
	z-index: 3;
	left: -6px;
}

.seeMore {
	cursor: pointer;
}

.seeMore::before {
	content: "+";
}

.seeLess {
	font-style: italic;
	cursor: pointer;
}

.seeLess::before {
	content: "-";
}

.thumbnail {
	height: 50px;
	width: 50px;
	display: inline-block;
	padding: 2px;
}

.thumbnail img {
	height: 100%;
	width: 100%;
}
/* Refinement */
.refinement {
	position: relative;
	left: 5px;
	list-style: none;
}

.refinement li {
	font-size: 12px;
	padding: 2px 1px;
}

.refinement li:hover {
	color: #f7ac16;
	text-decoration: underline;
	cursor: pointer;
}

.hidden {
	display: none;
}

.architecture {
	background-color: #615b53;
}

.arts {
	background-color: #ad3434;
}

.astronomy {
	background-color: #7a3561;
}

.aviation {
	background-color: #ecf0eb;
}

.business {
	background: #b77033;
}

.chemistry {
	background-color: #181f19;
}

.computer {
	background-color: #7a3561;
}

.data {
	background-color: #94424f;
}

.earth {
	background-color: #c9c38c;
}

.economics {
	background: #82ad97;
}

.education {
	background-color: #d6a771;
}

.engineering {
	background-color: #79a1b0;
}

.entrepreneurship {
	background-color: #8aad9d;
}

.health {
	background-color: #ced1bc;
}

.history {
	background: #997464;
}

.law {
	background-color: #807168;
}

.life {
	background-color: #cf4f57;
}

.mathematics {
	background: #1c758a;
}

.marketing {
	background-color: #d6cfe6;
}

.personal {
	background-color: #e6998d;
}

.philosophy {
	background-color: #fcdfa9;
}

.physical {
	background-color: #45282e;
}

.political {
	background-color: #dae3eb;
}

.psychology {
	background-color: #806d7b;
}

.social {
	background-color: #529695;
}

.sports {
	background-color: #529695;
}

.other {
	
}